[submodule "atto"]
	path = atto
	url = git://github.com/infoburp/atto.git
[submodule "apt-git"]
	path = apt-git
	url = git://github.com/infoburp/apt-git.git
[submodule "autoconf"]
	path = autoconf
	url = git://github.com/infoburp/autoconf.git
[submodule "automake"]
	path = automake
	url = git://github.com/infoburp/automake.git
[submodule "bash"]
	path = bash
	url = git://github.com/infoburp/bash.git
[submodule "bison"]
	path = bison
	url = git://github.com/infoburp/bison.git
[submodule "bc"]
	path = bc
	url = git://github.com/infoburp/bc.git
[submodule "gremlin"]
	path = gremlin
	url = git://github.com/infoburp/gremlin.git
[submodule "chat"]
	path = chat
	url = git://github.com/infoburp/chat.git
[submodule "check"]
	path = check
	url = git://github.com/infoburp/check.git
[submodule "dropbear"]
	path = dropbear
	url = git://github.com/infoburp/dropbear.git
[submodule "bootscripts"]
	path = bootscripts
	url = git://github.com/infoburp/bootscripts.git
[submodule "diffutils"]
	path = diffutils
	url = git://github.com/infoburp/diffutils
[submodule "edit"]
	path = edit
	url = git://github.com/infoburp/edit.git
[submodule "e2fsprogs"]
	path = e2fsprogs
	url = git://github.com/infoburp/e2fsprogs.git
[submodule "expect"]
	path = expect
	url = git://github.com/infoburp/expect.git
[submodule "file"]
	path = file
	url = git://github.com/infoburp/file.git
[submodule "linux"]
	path = linux
	url = git://github.com/infoburp/linux.git
[submodule "patch"]
	path = patch
	url = git://github.com/infoburp/patch.git
[submodule "shelly"]
	path = shelly
	url = git://github.com/infoburp/shelly.git
[submodule "browse"]
	path = browse
	url = git://github.com/infoburp/browse.git
[submodule "busybox"]
	path = busybox
	url = git://github.com/infoburp/busybox.git
[submodule "go"]
	path = go
	url = git://github.com/infoburp/go.git
[submodule "zlib"]
	path = zlib
	url = git://github.com/infoburp/zlib.git
[submodule "xz"]
	path = xz
	url = git://github.com/infoburp/xz.git
[submodule "git"]
	path = git
	url = git://github.com/infoburp/git.git
[submodule "web"]
	path = web
	url = git://github.com/infoburp/web.git
[submodule "util-linux"]
	path = util-linux
	url = git://github.com/infoburp/util-linux.git
[submodule "texinfo"]
	path = texinfo
	url = git://github.com/infoburp/texinfo.git
[submodule "shadow"]
	path = shadow
	url = git://github.com/infoburp/shadow.git
[submodule "rsync"]
	path = rsync
	url = git://github.com/infoburp/rsync.git
[submodule "procps"]
	path = procps
	url = git://github.com/infoburp/procps.git
[submodule "make"]
	path = make
	url = git://github.com/infoburp/make.git
[submodule "udev-lfs"]
	path = udev-lfs
	url = git://github.com/infoburp/udev-lfs.git
[submodule "tzdata"]
	path = tzdata
	url = git://github.com/infoburp/tzdata.git
[submodule "tcl"]
	path = tcl
	url = git://github.com/infoburp/tcl.git
[submodule "tar"]
	path = tar
	url = git://github.com/infoburp/tar.git
[submodule "sysklogd"]
	path = sysklogd
	url = git://github.com/infoburp/sysklogd.git
[submodule "readline"]
	path = readline
	url = git://github.com/infoburp/readline.git
[submodule "psmisc"]
	path = psmisc
	url = git://github.com/infoburp/psmisc.git
